@model PizzaRestaurant.Web.Models.Cart
@{
    ViewData["Title"] = "Cart";
}
@Html.ValidationSummary(true)
<h2 id="tempData" style="color:red">@(TempData["ResponseMessage"] == null ? "" : TempData["ResponseMessage"])</h2>

@if (Model.pizzas != null)
{
    <table class="table">
        <thead>
            <tr>
                <td>
                    Category
                </td>
                <td>
                    Name
                </td>
                <td>
                    Price
                </td>
                <td>
                    Modify
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in Model.pizzas)
            {
                <tr style="background: aliceblue;">
                    <td>
                        Pizza
                    </td>
                    <td>
                        @pizza.name
                    </td>
                    <td>
                        @pizza.price
                    </td>
                    <td>
                        <a asp-action="AddExtraIngredients" asp-controller="Cart" asp-route-pizzaId="@pizza.pizzaId"><i class="fas fa-pen"></i></a>
                    </td>
                </tr>
                @foreach (var extraIngredient in pizza.extraIngredients)
                {
                    <tr style="background: aliceblue;">
                        <td>
                            Extra
                        </td>
                        <td style="font-family: cursive; font-size: smaller;">
                            + @extraIngredient.name
                        </td>
                        <td>
                            @extraIngredient.price
                        </td>
                        <td>

                        </td>
                    </tr>
                }
            }
            @foreach (var item in Model.sodas)
            {
                <tr style="background: #ffc6c68c">
                    <td>
                        Soda
                    </td>
                    <td>
                        @item.name
                    </td>
                    <td>
                        @item.price
                    </td>
                    <td>

                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    Total price: @Model.totalPrice
                </td>
            </tr>
        </tfoot>
    </table>
    <form asp-action="PlaceOrder" asp-controller="Order">
        <button class="btn-block" type="submit">Place order</button>
    </form>
    <form asp-action="ClearCart" asp-controller="Cart">
        <button class="btn-block" type="submit">Clear cart</button>
    </form>
}
else
{
    <h1>Cart is empty</h1>
}
